extends layout

block content
  h1 Extra Marvelous Poem Generator 3000
  form(action="/" method='get')
    label(id="wordsearch") Your word:
    input(
      type='text'
      name='wordsearch'
      placeholder='lackluster'
    )
   
    each poem in poetry
      p= poem
  //- h3 #{stuff}
  //- h4 Related word: #{relatedWord}
  //- h4 Related sentence: #{words}
  //- h4 Rhymes: 
  //-   ul
  //-     each word in rhymes
  //-       li= word 
  //- h4 Same Context: 
  //-   ul
  //-     each word in context
  //-       li= word 
  //- h4 Synonyms: 
  //-   ul
  //-     each word in syn
  //-       li= word 
  //- h4 Cross Reference: 
  //-   ul
  //-     each word in cross
  //-       li= word 
